.section-multi-card.section-centered {
	position: relative;
	padding: 40px 0;
	background-color: var(--bg-3);
	margin-top: 50px;
}

.section-multi-card.section-centered .centered {
	display: flex;
	flex-direction: column;
	/* padding: 0px 0; */
	/* gap: 30px; */
}

.section-multi-card .card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	gap: 20px;
}

.section-multi-card .card-list a {
	text-decoration: none;
}

.section-multi-card .filter-buttons-container {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.section-multi-card .scrollable-filter-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	overflow-x: auto;
	scrollbar-width: none;
}

.section-multi-card .scrollable-filter-buttons::-webkit-scrollbar {
	display: none;
}

/* Filter button styles */
.section-multi-card .filter-buttons button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	min-width: 157px;
	color: var(--text-title);
	cursor: pointer;
	transition: all 200ms ease;
	border-radius: 16px;
	background-color: var(--bg-1b);
	border: 2px solid var(--bg-1);
}

.section-multi-card .filter-buttons button:hover {
	transition: all 300ms ease;
	border: 2px solid var(--accent-1-a);
}

.section-multi-card .filter-buttons button.active {
	background-color: var(--accent-1);
	color: var(--white);
	border: 2px solid var(--accent-1-a);
}

.section-multi-card .filter-buttons button.active h3 {
	color: var(--white);
}

.section-multi-card .separator {
	width: 2px;
	height: 25px;
	background-color: var(--accent-1);
	align-self: center;
}

/* Mobile responsiveness */
@media (max-width: 800px) {
	.section-multi-card .scrollable-filter-buttons {
		/* gap: 10px; */
		justify-content: center;
		padding-bottom: 10px;
		/* border-bottom: 2px solid var(--accent-1); */
	}

	.section-multi-card .separator {
		width: 80px;
		height: 2px;
	}

	.section-multi-card .filter-buttons button {
		display: flex;
		align-items: center;
		gap: 10px;
		width: 100%;
		padding: 10px 20px;
		color: var(--text-title);
		border: none;
		cursor: pointer;
		transition: all 200ms ease;
		border: 2px solid transparent;
		text-wrap: nowrap;
	}
}

/* ButtonCard */
.section-multi-card .buttonCard {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
	transition: all 200ms ease;
}

.section-multi-card .buttonCard:hover {
	transform: translateY(-2px);
}

.section-multi-card .buttonCard .image {
	width: 100%;
	height: 240px;
	filter: brightness(80%);
}

.section-multi-card .buttonCard .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-multi-card .buttonCard .icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	width: 72px;
	border-radius: 6px;
	object-fit: cover;
	background-color: var(--bg-5o);
	backdrop-filter: blur(2px);
	box-shadow: 0 0 2px var(--black);
}

.section-multi-card .buttonCard .icon img {
	width: 100%;
	border-radius: 6px;
	padding: 6px;
	height: auto;
	object-fit: cover;
}

.section-multi-card .buttonCard .icon span {
	background-color: var(--accent-1);
	color: var(--black);
	padding: 4px 0;
	width: 100%;
	border-radius: 0 0 6px 6px;
	text-align: center;
	font-weight: var(--weight-card-paragraph-header);
}

.section-multi-card .buttonCard .cardDescription {
	display: flex;
	padding: 12px;
	width: 100%;
	height: 100%;
	background-color: var(--bg-2);
	backdrop-filter: blur(4px);
}

.section-multi-card .buttonCard .description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	gap: 3px;
}

.section-multi-card .buttonCard .chevron {
	height: 100%;
	align-self: center;
	color: var(--accent-1);
}

.section-multi-card .buttonCard .tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
}

/* Tags */
.section-multi-card .tag {
	padding: 3px 8px;
	border-radius: 5px;
	color: var(--black);
	font-weight: var(--weight-card-paragraph-header);
}

.section-multi-card .tag.gameplay {
	background-color: var(--tag-gameplay);
}

.section-multi-card .tag.level {
	background-color: var(--tag-level);
}

.section-multi-card .tag.ui-ux {
	background-color: var(--tag-uiux);
}

.section-multi-card .tag.frontend {
	background-color: var(--tag-frontend);
}

.section-multi-card .tag.backend {
	background-color: var(--tag-backend);
}

.section-multi-card .tag.server {
	background-color: var(--tag-server);
}

.section-multi-card .tag.consumer {
	background-color: var(--tag-customer);
}

/* Fade-out and fade-in animations */
.section-multi-card .fade-out {
	animation: fadeOut 300ms ease forwards;
}

.section-multi-card .fade-in {
	animation: fadeIn 300ms ease forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}