.hamburger {
	display: none; /* Hidden by default */
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	background-color: var(--bg-2);
	color: var(--accent-1);
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	box-shadow: 0px 0px 4px 2px var(--shadow);
}

.mobile-menu {
	display: none; /* Hidden by default */
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-2o);
	align-items: center;
	z-index: 9;
	backdrop-filter: blur(15px);
}

@media (max-width: 768px) {
	.hamburger {
		display: flex; /* Show on mobile */
	}

	.mobile-menu {
		display: flex; /* Show on mobile */
	}

	.nav-left,
	.nav-right {
		display: none;
	}
}