.section-content {
	padding: 0px 0 100px 0;

}

.section-content .content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section-content .section-split {
	display: flex;
	justify-content: space-between;
	gap: 60px;

}

.section-content .section-split .section-left,
.section-content .section-split .section-right {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.section-content .reverse {
	flex-direction: row-reverse;
}

.section-content .card {
	background-color: var(--bg-3);
	padding: 16px;
	width: 100%;
	border-left: 16px solid var(--accent-1);
	border-radius: 8px;
}

@media (max-width: 800px) {
	.section-content .section-split {
		flex-direction: column;
	}

	.section-content .reverse {
		flex-direction: column-reverse;
	}
}